# Compiled Java class files
*.class

# Logs and databases
*.log
*.dat

# Build system files
target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA specific files
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Gradle/Maven build directories
.gradle/
.m2/
*.tmpdir

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# OS-specific files
.DS_Store # macOS
Thumbs.db  # Windows

# Other common files to ignore
*.bak
*.swp
*.swo

# Ignore keys and secrets
secrets.properties

# Exception for Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
